@model ParkiWEB.Models.User

<head>
    <link href="~/css/floatinglabel.css" rel="stylesheet" />
</head>
<body>
    <div style="color: #f6f5f7; font-size:10.5px;">Blank</div>
    <div class="container" id="container">

        <div class="container2 sign-in-container">

            <form method="post">

                <h1 class="h1-white">Login</h1>
                @*<div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>*@

                <input asp-for="UserName" type="text" placeholder="Username" value="" />
                <input asp-for="Password" type="password" placeholder="Password" value="" />
                <p><a class="link" href="#">Forgot your password?</a></p>
                <button id="btnLoginPost" type="submit" value="submit">Login</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                  
                <div class="overlay-panel overlay-right">
                    <br />
                    <h1>Hello, <br />Friend!</h1>
                    <br />
                    <p>Enter your personal details and start journey with us!</p>
                    <br />
                    <a asp-controller="Home" asp-action="Register">
                        <button class="ghost" id="signUp">Sign Up</button>
                    </a>

                </div>
            </div>
        </div>
    </div>
</body>