
<div class="p-4" style="border-radius:20px; margin-top:70px;">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">National Park List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Upsert" class="btn btn-success text-white"><i class="fas fa-plus"></i> &nbsp; Create New National Park</a>
        </div>
    </div>
    <br />
    <br />
    <div tabclass="p-3 rounded">
        <table id="tblData" class="table table-hover table-bordered" style="width:100%">
            <thead class="thead-dark">
                <tr class="table-secondary ">
                    <th class="text text-center" scope="col">Name</th>
                    <th class="text text-center"scope="col">Location</th>
                    <th class="text text-center"scope="col">Options</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/nationalPark.js"></script>
 }